<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment::page_head('ShopDA - Change Password')}">
<body>
<div class="container-fluid">
  <div>
    <div th:replace="~{navigation::menu}"></div>
  </div>
  <div class="text-center m-3">
    <h2>Your Account Details</h2>
  </div>
  <div th:if="${message!=null}" class="alert-success alert text-center">
    [[${message}]]
  </div>
  <form th:action="@{/account/change_password/update}" method="post" style="max-width: 700px; margin: 0 auto"
        enctype="multipart/form-data">
    <input type="hidden" name="id" id="id" th:value="${id}" >
    <div class="border border-secondary p-3 rounded">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nhập mật khẩu cũ: </label>
        <div class="col-sm-8">
          <input type="text" id="password" name="password" class="form-control" minlength="6" maxlength="20" >
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nhập mật khẩu mới: </label>
        <div class="col-sm-8">
          <input type="password" id="newPassword" name="newPassword"class="form-control" minlength="6" maxlength="20"
                 placeholder="At least 6 characters and under 20 characters">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Xác nhận lại mật khẩu: </label>
        <div class="col-sm-8">
          <input type="password" id="confirmPassword" class="form-control"
                 minlength="6" maxlength="20" oninput="checkPasswordMatch(this)" >
        </div>
      </div>

      <div class="text-center">
        <input type="submit" value="Save" class="btn btn-info m-3"/>
        <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel"/>
      </div>
    </div>
  </form>


  <div>
    <p class="text-center"> Shopme Admin Control Panel - Copyright &copy;Shopme</p>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#buttonCancel").on("click",function (){
      window.location ="[[@{/account}]]";
    });
  });
  function checkPasswordMatch(confirmPassword){
    if(confirmPassword.val()!=$("#newPassword").val()){
      confirmPassword.setCustomValidity("Password do not match!")
    }
    else{
      confirmPassword.setCustomValidity('')
    }
  }
</script>
</body>
</html>