<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th th:fragment="column_change(fieldName, fieldLabel)">
        <a th:if="${fieldName!=sortField}" style="color: white"
            th:href="@{'/users/page/' + ${currentPage} +'?sortField=' +  ${fieldName} + '&sortDir='
                   + ${sortDir}+ ${keyword!=null ? '&keyword=' + keyword :''}}">
            [[${fieldLabel}]]
        </a>
        <a  th:if="${fieldName==sortField}" style="color: white"
           th:href="@{'/users/page/' + ${currentPage} +'?sortField=' +  ${fieldName} + '&sortDir='
                   + ${sortDir == 'asc'? 'desc' : 'asc'}+ ${keyword!=null ? '&keyword=' + keyword :''}}">
            [[${fieldLabel}]]
        </a>
        <span th:if ="${sortField== 'email'}"
              th:class="${sortDir== 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
                </span>
    </th>

    <a th:fragment="page_link(pageNum,label)" class="page-link"
       th:href="@{'/users/page/'+${pageNum}+'?sortField='+${sortField}+'&sortDir='
          + ${sortDir} + ${keyword==null ? '': '&keyword=' + keyword}}">[[${label}]]</a>
</body>
</html>