<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:fragment="page_head(pageTitle)" >
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">

</head>
<body>
    <th th:fragment="column_change(fieldName, fieldLabel)">
        <a th:if="${fieldName!=sortField}" style="color: white"
            th:href="@{'/users/page/' + ${currentPage} +'?sortField=' +  ${fieldName} + '&sortDir='
                   + ${sortDir}+ ${keyword!=null ? '&keyword=' + keyword :''}}">
            [[${fieldLabel}]]
        </a>
        <a  th:if="${fieldName==sortField}" style="color: white"
           th:href="@{'/users/page/' + ${currentPage} +'?sortField=' +  ${fieldName} + '&sortDir='
                   + ${sortDir == 'asc'? 'desc' : 'asc'}+ ${keyword!=null ? '&keyword=' + keyword :''}}">
            [[${fieldLabel}]]
        </a>
        <span th:if ="${sortField== 'email'}"
              th:class="${sortDir== 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
                </span>
    </th>

    <a th:fragment="page_link(pageNum,label)" class="page-link"
       th:href="@{'/users/page/'+${pageNum}+'?sortField='+${sortField}+'&sortDir='
          + ${sortDir} + ${keyword==null ? '': '&keyword=' + keyword}}">[[${label}]]</a>

    <a th:fragment="category_page_link(pageNum,label)" class="page-link"
       th:href="@{'/categories/page/'+${pageNum}}" >[[${label}]]</a>

    <a th:fragment="product_page_link(pageNum,label)" class="page-link"
       th:href="@{'/products/page/'+ ${pageNum} + ${keyword==null ? '': '&keyword=' + keyword}+ ${categoryId==null ? '': '&categoryId=' + categoryId}}" >[[${label}]]</a>

    <li th:fragment="nav_link(fieldName,label)" class="nav-item">
        <a class="nav-link" th:href="@{'/' + ${fieldName}}">[[${label}]]</a>
    </li>
    <div th:fragment="modal_dialog">
        <div class="modal fade text-center" id="modalDialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modalTitle">Xác Nhận Xóa</h4>
                        <button type="button"class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <span id="modalBody"></span>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-success" id="yesButton" href="">Có</a>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:fragment="format_time(dateTime)" th:remove="tag">
        <span th:text="${#dates.format(dateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
    </div>
    <div th:fragment="format_money(amount)" th:remove="tag">
        <input type="text" readonly class="form-control" th:value="${#numbers.formatDecimal(amount, 1, ',', 0, '.')+' đ'}">
    </div>

</body>
</html>