<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment :: page_head('Shopping Cart')" />
<body>
<div class="container-fluid">
  <div th:replace="navigation :: header_menu"></div>
  <div th:replace="navigation :: search_nav"></div>

  <div class="text-center">
    <h2>Thanh toán</h2>
  </div>

  <div class="row m-1">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header"><h5>Thông tin vận chuyển</h5></div>
        <div class="card-body">
          <p>
            <b>Ship to:</b>&nbsp; [[${shippingAddress}]]
            <a th:href="@{/address_book(redirect=checkout)}">[Vận chuyển đến địa điểm khác]</a>
          </p>
          <p>
            <b>Thời gian vận chuyển: </b> 3 - 5 day(s)
          </p>
          <p>
            <b>Dự kiến ngày đến: </b>[[${#dates.format(checkoutInfo.deliverDate, 'E, dd MMM yyyy')}]]
          </p>
        </div>
      </div>

      <div class="card mt-3 mb-3">
        <div class="card-header"><h5>Phương thức thanh toán</h5></div>
        <div class="card-body">
          <div th:if="${checkoutInfo.codSupported}">
            <form th:action="@{/place_order}" method="post">
              <p>

                <input type="radio" name="paymentMethod" id="radioCOD" value="COD" /> Trả tiền khi nhận hàng (COD)
                &nbsp;
                <button class="btn btn-primary d-none" type="submit" id="buttonSubmit">Đặt hàng với COD</button>
              </p>
            </form>
          </div>

          <div id="paypal-button-container"></div>
          <form th:action="@{/process_paypal_order}" method="post" id="paypalForm">
            <input type="hidden" name="orderId" id="orderId" />
            <input type="hidden" name="paymentMethod" value="PAYPAL" />
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          <h5>Thông tin đơn hàng</h5>
        </div>
        <div class="card-body">
          <div>
            <table>
              <th:block th:each="item : ${cartItems}">
                <tr th:with="product = ${item.product}">
                  <td>[[${item.quantity}]] X &nbsp;&nbsp;</td>
                  <td style="width:70%">
                    <a th:href="@{'/p/' + ${product.alias}}" target="_blank">
                      [[${product.shorterName}]]
                    </a>
                    <br/>
                  </td>
                  <td>
                    <div th:replace="fragment::format_money(${item.totalPayment})"></div>
                  </td>
                </tr>
              </th:block>
              <tr><td colspan="3"><hr/></tr>
            </table>
          </div>

          <div class="row mt-2">
            <div class="col">Tổng tiền sản phẩm: </div>
            <td>
              <div th:replace="fragment::format_money(${checkoutInfo.productTotal})"></div>
            </td>
          </div>

          <div class="row mt-2">
            <div class="col">Tổng phí ship: </div>
            <div class="col"> <td>
              <div th:replace="fragment::format_money(${checkoutInfo.shippingCostTotal})"></div>
            </td></div>
          </div>

          <div class="row mt-2">
            <div class="col">Tổng thanh toán: </div>
            <div class="col"><b><div th:replace="fragment::format_money(${checkoutInfo.paymentTotal})"></div></b></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="fragment :: #modalDialog"></div>
  <div th:replace="navigation :: footer_menu"></div>
</div>
<script th:src="@{https://www.paypal.com/sdk/js(client-id=${clientId},currency='USD')}"></script>
<script type="text/javascript" th:src="@{/js/common_customer_form.js}"></script>
<script type="text/javascript">
  contextPath = "[[@{/}]]";
  var csrfHeaderName = "[[${_csrf.headerName}]]";
  var csrfValue = "[[${_csrf.token}]]";

  $(document).ready(function() {
    $("#radioCOD").on("click", function() {
      $("#buttonSubmit").removeClass("d-none");
    });
  });

  function validateOrder(orderId) {
    $("#orderId").val(orderId);
    $("#paypalForm").submit();
  }

  paypal.Buttons({
    enableStandardCardFields: true,
    createOrder: function(data, actions) {
      return actions.order.create({

        intent: 'CAPTURE', // make payment immediately
        payer: {
          name: {
            given_name: "[[${customer.fullName}]]",
            surname: "User"
          },

          address: {
            address_line_1: "[[${customer.addressLine1}]]",
            address_line_2: "[[${customer.addressLine2}]]",
            admin_area_2: "[[${customer.district}]]",
            admin_area_1: "[[${customer.province}]]",
            postal_code: "10000",
            country_code: "VN"
          },

          email_address: "[[${customer.email}]]",

          phone: {
            phone_type: "MOBILE",
            phone_number: {
              national_number: "[[${customer.phoneNumber}]]"
            }
          }
        },

        purchase_units: [{
          amount: {
            value: "[[${checkoutInfo.paymentTotal4PayPal}]]",
            currency_code: "USD"
          }
        }],

        application_context: {
          shipping_preference: "NO_SHIPPING"
        }
      });
    },

    onApprove: function(data, actions) {
      // buyer approved payment
      return actions.order.capture().then(function(details) {
        //console.log(details);
        orderId = details.id;
        validateOrder(orderId);
      });
    },

    onCancel: function(data) {
      // buyer cancelled payment
      alert('Việc mua hàng đã bị hủy bởi khách');
    },

    onError: function(err) {
      // error that prevents buyer from doing checkout
      showModalDialog("Lỗi","Lỗi ở địa chỉ của bạn, vui lòng check lại");
    }
  }).render("#paypal-button-container");

</script>
</body>
</html>