<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
  &nbsp;
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Tiêu đề E-mail</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="CUSTOMER_VERIFY_SUBJECT" th:value="${CUSTOMER_VERIFY_SUBJECT}" required/>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Nội dung E-mail</label>
    <div class="col-sm-10">
      <textarea rows="8" class="form-control" name="CUSTOMER_VERIFY_CONTENT" id="customerVerifyContent" required>[[${CUSTOMER_VERIFY_CONTENT}]]</textarea>
    </div>
  </div>
  <div class="italic bold font-xl">
    Có thể soạn thảo văn bản dạng Rich Text tại: <link>https://www.editpad.org/tool/online-rich-text-editor</link>
  </div>
</div>
</body>
</html>
