<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragment::page_head('Home - ShopDA Admin')}">
<body>
<div class="container-fluid">
  <div th:replace="~{navigation::menu}">
  </div>
  <div>
    <h2></h2>
  </div>
  <div class="text-center">
    <p> ShopDA Admin Control Panel - Copyright &copy;Shopme</p>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.udacity.com%2Fblog%2F2021%2F03%2Fcreating-an-html-404-error-web-page.html&psig=AOvVaw3hSqawrqBkO09FHlB6U6r0&ust=1711749056320000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCICcm534l4UDFQAAAAAdAAAAABAE">
  </div>
</div>
</body>
</html>