<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment :: page_head(${pageTitle})}" />

<body>
    <div class="container-fluid">
        <div th:replace="navigation::header_menu"></div>
        <div>&nbsp;</div>
        <div class="text-center">
            <h2>Đăng ký tài khoản</h2>
            <p>Xác thực không thành công, vui lòng thử lại</p>
            <p><a th:href="@{/register}">Đăng ký</a> </p>
            <p><a th:href="@{/login}">Nếu đã có tài khoản, đăng nhập tại đây</a> </p>
        </div>
        <div>&nbsp;</div>
        <div th:replace="navigation::footer_menu"></div>
    </div>
</body>