<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment :: page_head(${pageTitle})}" />

<body>
    <div class="container-fluid">
        <div th:replace="~{navigation::header_menu}"></div>
        <div>&nbsp;</div>
        <div class="text-center">
            <h2>Đăng ký tài khoản</h2>
            <h4>Bạn đã đăng kí thành công</h4>
            <p>Hãy kiểm tra tài khoản E-mail của bạn để tiến hành xác thực tài khoản</p>
            <p><a th:href="@{/login}">Đăng nhập tại đây</a> </p>
        </div>
        <div>&nbsp;</div>
        <div th:replace="~{navigation::footer_menu}"></div>
    </div>
</body>