<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragment::page_head('404 - ShopDA')}">
<body>
<div class="container-fluid">
  <div th:replace="~{navigation::header_menu}">
  </div>
  <div class="m-3">
    <h2>Không tìm thấy trang</h2>
  </div>
  <div th:replace="~{navigation::footer_menu}">
  <div class="text-center">
    <p> ShopDA Website - Copyright &copy;ShopDA</p>
  </div>
</div>
</body>
</html>