<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment :: page_head('Shopme')}" />

<body>
<div class="container-fluid">
    <div th:replace="~{navigation :: header_menu}"></div>
    <div th:replace="~{navigation :: search_nav}"></div>
    <div>
        <h1>Mua hàng với các danh mục hàng</h1>
    </div>

    <div class="row">
        <div class="col-sm-2" th:each="cat : ${listCategories}" >
            <div style="width:80px; height: 90px;">
                <img th:src="@{${cat.imagePath}}" width="80px"/>
            </div>
            <div>
                <a th:href="@{'/c/' + ${cat.alias}}" class="text-">[[${cat.name}]]</a>
            </div>
        </div>
    </div>
    <div th:replace="~{navigation :: footer_menu}"></div>
</div>
</body>

</html>