<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment::page_head('Login - Shop Duc Anh')}">
<body>
  <div class="container-fluid text-center">
    <img th:src="@{/images/signature_big.png}" style="max-width: 500px;margin-top: 20px"/>
    <div class="mt-3">
      <a class="btn btn-lg btn-secondary" th:href="@{/oauth2/authorization/google}">
        <i class="fab fa-google"></i>&nbsp;&nbsp;Đăng nhập với Google
      </a>
    </div>
    <div class="mt-3">
      <a class="btn btn-lg btn-secondary" th:href="@{/oauth2/authorization/facebook}">
        <i class="fab fa-facebook"></i>&nbsp;&nbsp;Đăng nhập với Facebook
      </a>
    </div>
    <form th:action="@{/login}" method="post" style="max-width: 400px;margin: 30px auto">
      <div th:if="${param.error}">
          <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
      </div>
      <div th:if="${param.logout}">
          <p class="text-info" style="font-size:20px">Bạn đã đăng xuất thành công!</p>
      </div>
      <div class="border rounded border-secondary p-3 ">
        <p style="font-size: 18px">Đặng nhập hệ thống ShopDA</p>
        <p>
          <input type="email" name = "email" class="form-control" placeholder="Email" required>
        </p>
        <p>
          <input type="password" name = "password" class="form-control" placeholder="Password" required>
        </p>
        <p>
          <input type="checkbox" name = "remember-me" class="checkboxes">&nbsp; Nhớ tài khoản này
        </p>
        <p>
          <input type="submit" class="btn btn-primary" value="Login">
        </p>
      </div>
    </form>
    </br>
    <div>
      Chưa có tài khoản, đăng ký tại đây? <a th:href="@{/register}"><b>Sign up</b></a>
    </div>
    </br>
    <div>
      <p> ShopDA Admin Control Panel - Copyright &copy;Shopme</p>
    </div>
  </div>
</body>
</html>